034_符合CS和PHP的PHP的SOAP專案/教學影片/php_soap_project(非SOAP12標準寫法)/Function版/SOAP Server with PHP5/USBWEB/soap/inventory.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<definitions name='Inventory'
  targetNamespace='urn:JimmyzInventory'
  xmlns:tns='urn:JimmyzInventory'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

<message name='getItemCountRequest'>
  <part name='upc' type='xsd:string'/>
</message>
<message name='getItemCountResponse'>
  <part name='Result' type='xsd:integer'/>
</message>

<message name='AddRequest'>
  <part name='a' type='xsd:float'/>
  <part name='b' type='xsd:float'/>
</message>
<message name='AddResponse'>
  <part name='Result' type='xsd:float'/>
</message>

<portType name='InventoryPortType'>
  <operation name='getItemCount'>
    <input message='tns:getItemCountRequest'/>
    <output message='tns:getItemCountResponse'/>
  </operation>
  <operation name='Add'>
    <input message='tns:AddRequest'/>
    <output message='tns:AddResponse'/>
  </operation>  
</portType>

<binding name='InventoryBinding' type='tns:InventoryPortType'>
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getItemCount'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getItemCount'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  
  <operation name='Add'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#Add'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>		
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>  
</binding>

<service name='InventoryService'>
  <port name='InventoryPort' binding='InventoryBinding'>
    <soap:address location='http://localhost:8080/soap/server.php'/>
  </port>
</service>
</definitions>